<html>
 <head><title>{{ title }}</title>
 </head>
 <body style="background: #95b7b3">
 <h1 style="color: #2b15ff"> Welcome {{ head }}...</h1>
 <p style="padding-left: 1250"><a href="/logout/"><button type="button" style="background:#82ecff"><b>logout</b></button></a></p>
  <marquee><b style="color: #ff110c">Your request is approved by admin......</b></marquee><br>
    <form method = "POST" action = "">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <a href="/productview/"><button type="button" style="background:#fff040"><b>Available Products</b></button></a><br>
        <a href="{{ url_1 }}"><button type="button" style="background:#fff040"><b>{{ link_text_1 }}</b></button></a><br>
        <a href="{{ url_2 }}"><button type="button" style="background:#fff040"><b>{{ link_text_2 }}</b></button></a><br>
        <a href="{{ url_3 }}"><button type="button" style="background:#fff040"><b>{{ link_text_3 }}</b></button></a><br>
        <a href="{{ url_4 }}"><button type="button" style="background:#fff040"><b>{{ link_text_4 }}</b></button></a><br>
        <a href="{{ url_5 }}"><button type="button" style="background:#fff040"><b>{{ link_text_5 }}</b></button></a><br>
        {% if error %}
        <p style="color: crimson;">{{ error_msg }}</p>
        {% endif %}
    </form>
 </body>
</html>