<html>
 <head><title>{{ title }}</title>
 </head>
 <body style="background: #95b7b3">
 <h1 style="color: #2b15ff"> {{ head }}</h1>
 <p style="padding-left: 1250"><a href="/logout/"><button type="button" style="background:#82ecff"><b>logout</b></button></a></p>
    <form method = "POST" action = "">
        <p>delete {{ delete }} ?</p>
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <p style="padding-left: 15em "><input type="submit"  value="{{ value }}" style="color: darkblue"></p>
        {% if error %}
        <p style="color: crimson;">{{ error_msg }}</p>
        {% endif %}
    </form>
 </body>
</html>